<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %} Monster Zoo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/static/css/chat.css">

	</head>
	<body>
        <div id="wrap">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Home</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('room') }}">Start a Game</a></li>
                            <li><a href="{{ url_for('game') }}">Game</a><li>
                            <li><a href="{{ url_for('rules') }}">Rules</a><li>
                            <li><a href="{{ url_for('cards') }}">Cards</a><li>
                            <li><a href="{{ url_for('story') }}">Story</a><li>
                            <li><a href="{{ url_for('media') }}">Media</a><li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="page-header">
                    <img width="125" src="/static/images/large-logo.png" class="pull-right">
                    <h1>Monster Zoo - Playtest</h1>
                </div>
                <p class="lead">Read the <a data-toggle="modal" href="#rules"><code>quickplay rules</code></a> or the <a href="http://bit.ly/10tMUIo" target="_blank"><code>full rules</code></a> (note: the online version is slightly different from the full rules).</p>
                <!-- Modal -->
                <div class="modal fade" id="rules">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title">Game Rules</h3>
                            </div>
                            <div class="modal-body">
                                <p>Monster Zoo is a deckbuilding game for 2-4 players.</p>
                                <p><b>Goal</b></p>
                                <p>Be the first player to build a Zoo worth 30 points.</p>
                                <p><b>How to Play</b></p>
                                <p>During your turn:</p>
                                <p><ul>
                                    <li>Play any number of cards from your hand.</li>
                                    <li>Use Food to catch cards from The Wild (middle set of cards).</li>
                                    <li>Caught cards will be placed into your discard pile. When you run out of cards in your deck, your discard pile will become your new deck.</li>
                                    <li>Move Monsters into your Zoo for points.</li>
                                    <li>Card with "Zoo Effects" give you a bonus at the beginning of your turn.</li>
                                </ul></p>
                                <p>End of turn:</p>
                                <p><ul>
                                    <li>Draw until you have at least 5 cards in your hand.</li>
                                </ul></p>
                                <p><b>Playtest Notes:</b></p>
                                <p>This is a buggy play test system and the game may potentially break on you. Many of the cards/features from the game are not fully developed in the online version yet. Thanks for testing!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div> <!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /modal -->
                <!-- Modal -->
                <div id="flash">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <em style="color:red;">{{ message }}</em>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
        <script src="//code.jquery.com/jquery.js"></script>
                {% block content %} {% endblock content %}
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="text-muted credit"><code>Thanks for testing! Please send feedback to michael@rubycowgames.com</code></p>
            </div>
        </div>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="/static/js/socketio/socket.io.min.js"></script>
        <script src="/static/js/game.js"></script>
	</body>
</html>
