<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %} Monster Zoo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/static/css/chat.css">

	</head>
	<body>
        <div id="wrap">
            {% include 'top_nav.html' %}
            <div class="container">
                <div id="flash">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <em style="color:red;">{{ message }}</em>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
        <script src="//code.jquery.com/jquery.min.js"></script>
                {% block content %} {% endblock content %}
            </div>
        </div>
        {% include 'footer.html' %}
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="/static/js/socketio/socket.io.min.js"></script>
        <script src="/static/js/game.js"></script>
	</body>
</html>
