{% extends "static.html" %}

{% block content %}
<div class="page-header">
    <img width="125" src="/static/images/large-logo.png" class="pull-right">
    <h1>Credits</h1>
</div>
<div class="row">
    <div class="col-lg-4">
        <h2>Publisher</h2>
        <p><a href="http://rubycowgames.com">Ruby Cow Games</a></p>

        <h2>Game Design</h2>
        <p>Michael Nguyen<br/>
        Phi Nguyen</p>

        <h2>Art</h2>
        <p>Ilias Sounas</p>
    </div>
    <div class="col-lg-4">
        <h2>Playtesters</h2>
        <p>Lan Nguyen<br/>
        Sarah Reed<br/>
        Fin Coe<br/>
        Lemtzas<br/>
        Tirch<br/>
        Jay Treat<br/>
        John Burns<br/>
        Mindy Nguyen<br/>
        Steven Luong</p>
    </div>
    <div class="col-lg-4">
        <h2>Rules Reviewers</h2>
        FractalDactyl<br/>

        <h2>Supporters</h2>
        <p>Jamey Stegmaier<br/>
        Card &amp; Board Game Designers Guild</p>

    </div>

{% endblock content %}
