        <div id="footer">
            <div class="container">
                <p class="text-danger credit"><span class="glyphicon glyphicon-warning-sign"></span> Warning. This is a beta and may break while you are playing. 
                <span class="text-muted">Thanks for testing! Please <a href="http://www.surveymonkey.com/s/LG82B83" target="_blank">click here to take survey</a> or 
                    email michael@rubycowgames.com with your feedback.</p>
            </div>
        </div>
