{% extends "static.html" %}

{% block content %}
<div class="page-header">
    <img width="125" src="/static/images/large-logo.png" class="pull-right">
    <h1>Monster Zoo - The Game</h1>
</div>
<p>
<strong>2-4 Players, Ages 8+, 30 Minutes</strong><br/>
<em>Deck Building / Zoo Management</em>
</p>

<p><strong>Monster Zoo</strong> is a casual deck building game. In Monster Zoo, you are a Zoo Keeper responsible for catching monsters from The Wild to build your Zoo. Other players are doing the same, so it’s a race to see who is the fastest and smartest Zoo Keeper.<p>

<p>Each turn you will be collecting new monsters, using monsters to help you catch even more monsters, and managing the monsters in your Zoo.</p>

<p>Players start with the same deck of cards. Over the course of the game, as you catch monsters, you will build a stronger and more resourceful deck. You will need to balance building a stronger deck along with building up your Zoo. Placing monster cards from your hand into your Zoo earns points, but monsters in your Zoo will no longer play an active role in your deck.</p>

<p>With over 30 unique monsters cards in the base game, there is a wide variety to the actions and combinations you’ll see during a typical game.</p>

<p>The first player to build a full Zoo wins!</p>
{% endblock content %}
