{% extends "base.html" %}

{% block content %}
                <div id="main">
                        <h2>Game Area</h2>
                        <div class="row">
                            <div class="col-lg-8">
                                <h3>Opponent</h3>
                                <div id="player2">
                                    <!-- CARD TEMPLATE 
                                    <div class="card">
                                        <div class="corner top_left">
                                            <span class="number">Oogly Oogly</span>
                                        </div>
                                        <div class="corner top_right">
                                            <span class="number">4</span>
                                        </div>
                                        <div class="card_image">
                                            <p><img src="/static/images/Oogly.png" height="120px"></p>
                                            Draw 3 Cards. Something else. Something else. Something else.
                                        </div>
                                        <div class="playbutton">
                                            <button type="button" class="btn btn-primary btn-mini">Play This Card</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="playbutton">
                                        <button type="button" class="btn btn-primary btn-mini">Play This Card</button>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <h3>Zoo</h3>
                                <div id="player2-zoo">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <h3>Score</h3>
                                <div id="player2-score">
                                </div>
                                <h3>Food</h3>
                                <div id="player2-food">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>The Wild</h3>
                                <div id="wild">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                            <h3>You</h3>
                            <button id="deal-player1" type="button" class="btn btn-default">Deal</button>
                            <button id="turn-player1" type="button" class="btn btn-default">End Turn</button>
                                <div id="player1">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <h3>Zoo</h3>
                                <div id="player1-zoo">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <h3>Score</h3>
                                <div id="player1-score">
                                </div>
                                <h3>Food</h3>
                                <div id="player1-food">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Chat Area</h2>
                                <div id="chat">
                                    <div id="nickname">
                                        <form id="login">
                                            <p>Please type in your nickname and press enter.</p>
                                            <input id="username">
                                        </form>
                                    </div>
                                    <div id="messages">
                                        <div id="lines"></div>
                                    </div>
                                </div>
                                <div>
                                    <form id="send-message">
                                        <input id="message">
                                        <button>Send</button>
                                    </form>
                                </div>
                                <div id="game">
                                    <div id="opponent">
                                    </div>
                                    <div id="wild">
                                    </div>
                                    <div id="player">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

<script>
    $(function() {

        // Bind to login form
        $('#login').submit(function() {
            socket.emit('login', $('#username').val(), function(set) {
                if (set) {
                    clear();
                    return $('#chat').addClass('nickname-set');
                }
            });
            $('#login').css('visibility','hidden');
            return false;
        });

        // Bind to send message form
        $('#send-message').submit(function() {
            socket.emit('user message', $('#message').val());
            $('#message').val('').focus();
            // $('#lines').get(0).scrollTop =100000000000;
            setTimeout(function() {
                $("#lines").scrollTop($("#lines")[0].scrollHeight);
            }, 10);
            return false;
        });

        function clear () {
            $('message').val('').focus();
        };

        // Bind to deal button
        $('#deal-player1').click(function() {
            socket.emit('deal', socket.socket.sessionid );
        });

        // Bind to end turn button
        $('#turn-player1').click(function() {
            socket.emit('turn');
        });

        // Bind the card play this buttons
        $('.row').on('click', '.play-this', function(event) {
            socket.emit('play', this.name);
        });

        // Bind the card buy this buttons
        $('.row').on('click', '.buy-this', function(event) {
            socket.emit('buy', this.name);
        });
    });
</script>
{% endblock content %}
