{% extends "static.html" %}

{% block content %}
<div class="page-header">
    <img width="125" src="/static/images/large-logo.png" class="pull-right">
    <h1>Print And Play</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Rules</h2>
        <p><a href="/static/pdfs/rules.pdf">Rules (0.9MB PDF)</a></p>
        <h2>Game</h2>
        <p><a href="/static/pdfs/game.pdf">Core Game: 2 Player Version (5.3MB PDF)</a></p>
        <p>For more players, print more copies.</p>
        <h2>Events (Expansion)</h2>
        <p><a href="/static/pdfs/events.pdf">Expansion Pack: Events (0.6MB PDF)</a></p>
    </div>
</div>

{% endblock content %}
