{% extends "static.html" %}

{% block content %}
<div class="page-header">
    <img width="125" src="/static/images/large-logo.png" class="pull-right">
    <h1>Rules</h1>
</div>
<h2>Goal</h2>
<p>Be the first player to build a Zoo worth 30 points</p>
<h2>How to Play</h2>
<p>During your turn:
<ul>
    <li>Play any number of cards from your hand</li>
    <li>Use Food to catch cards from The Wild (middle set of cards).</li>
    <li>Caught cards will be placed into your discard pile.</li>
    <li>When you run out of cards in your deck, your discard pile will become your new deck.</li>
    <li>Move Monsters into your Zoo for points.</li>
    <li>Cards with "Zoo Effects" give you a bonus at the beginning of your turn.</li>
</ul>
</p>

<h2>End of turn:</h2>

<p>Draw until you have at least 5 cards in your hand.</p>
<h2>Playtest Notes:</h2>
<p>This is a buggy play test system and the game may potentially break on you. Many of the cards/features from the game are not fully developed in the online version yet. Thanks for testing!</p>
{% endblock content %}
